.collection-page-info-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.384);
    padding: 2vw;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 2vw 0;
}

.collection-page-image {
    width: 23vw;
    height: 20vw;
    margin-top: 2vw;
}

.collection-page-info-text {
    font-size: 1.5vw;
}

.bold {
    font-weight: 700;
}

.add-collection-item-btn {
    background-color: white;
    margin: 5vw 0 0 5.5vw;
    width: 15vw;
    height: 2vw;
}

.add-collection-item-btn:focus {
    outline: none;
}

.add-collection-item-btn:hover {
    background-color: rgb(177, 177, 177);
}

.rti--container {
    margin-bottom: 1vw;
}

.like {
    fill: red;
}

.dislike {
    fill: black;
}

.collection-item-page-column {
    display: flex;
    flex-direction: column;
}

.values {
    margin-left: 2vw;
}

.description {
    margin-left: 22vw;
}

.info-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.136);
    border-radius: 8px;
    margin-top: 1.3vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.collection-page-info-item {
    font-size: 1.3vw;
}

.bold {
    font-weight: 700;
}

.item-likes {
    font-size: 1vw;
    margin-left: 0.5vw;
}

.table-action-button {
    margin: 0.5vw;
    cursor: pointer;
}

.table-action-button:hover {
    color: blue;
}

.comment-input {
    width: 86%;
    height: 2vw;
    font-size: 0.8vw;
    border-radius: 8px;
}

.comment-input:focus {
    outline: none;
}

.comment-send-button {
    width: 9%;
    height: 1.95vw;
    margin-left: 2.9vw;
}

.comment {
    font-size: 1vw;
    margin: 1.5vw 0;
    display: flex;
    justify-content: space-between;
}

.comment-wrapper {
    display: flex;
}

.comment-text {
    margin-left: 5vw;
}

.comment-text {
    font-weight: 500;
}