.sc-dcJsrY {
    width: 15vw;
    margin-left: 27vw;
}

a {
    font-size: 1.5vw;
    text-decoration: none;
}

.navbar-btn {
    font-size: 1vw;
    color: white;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.theme-selector-wrapper {
    display: flex;
    align-items: center;
    margin-left: 6vw;
    font-size: 1vw;
}

.theme-selector-text {
    color: white;
    margin-bottom: 0;
}

.theme-selector-switch {
    display: flex;
    align-items: center;
    margin-left: 1vw;
    width: 1.5vw;
}

@media screen and (max-width: 855px) {
    
    a {
        font-size: 2.2vw;
    }

    .navbar-btn, .theme-selector-wrapper {
        font-size: 1.5vw;
    }

}

@media screen and (max-width: 600px) {
    
    a {
        font-size: 2.7vw;
    }

    .theme-selector-wrapper, .navbar-btn {
        font-size: 2vw;
    }
}

@media screen and (max-width: 480px) {
    
    a {
        font-size: 3.7vw;
    }

    .theme-selector-wrapper, .navbar-btn {
        font-size: 3vw;
    }
}